#text1 p {
    font-family: "Quicksand";
    font-style: normal;
    font-size: 22px;
    line-height: 35px;
    padding-top: 20%;
}

#img1 img {
    width: 100%;
    height: 100%;
}

hr .line-border1 {
    border: 1px #e4e4e4;
    border-radius: 5px;
}

#text2 p {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: #00A068;
}

#button1 span,
.btn {
    background-color: #00A068;
    border: none;
}

#button1 .btn:hover {
    background-color: #00A068;
    transition: 0.7s;
}

#button2 .btn {
    background-color: white;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

#button2 .btn-toggle-nav a {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-decoration: none;
    text-decoration: none;
}

#button2 #side-bar1 a,
#side-bar2 a,
#side-bar3 a {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

#profil .img1 {
    position: relative;
    overflow: hidden;
    width: 100%;
}

#profil p {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    margin-top: 2%;
}

#profil .col img {
    width: auto;
    height: 130px;
    /* padding: 30px; */
}

#profil .col-md-4 p {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 25px;
    z-index: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

@media (min-width: 400) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
    p {
        text-align: center;
    }
}

body {
    font-family: "Quicksand";
    font-size: 20px;
}

a {
    color: black;
}

a:hover {
    padding: 2px;
    border-radius: 25px;
    color: rgb(57, 152, 57);
}

button:hover {
    margin: 1px;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(57, 152, 57);
    -webkit-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}